#{extends 'main.html' /}

<div id="breadcrumb">
	<a href="@{Textbooks.index}">Textbooks</a> →
</div>

<h1 id="title">Edit textbook</h1>
<p class="light">
	by ${connected.name}
</p>

<form id="post" action="@{Textbooks.update(forum.id)}" method="POST" accept-charset="${_response_encoding}">

	<p>
		<label>Name</label>
		<input type="text" name="name" value="${forum.name}" id="name" /> 
		<span class="error">#{error 'name' /}</span>
	</p>
	<p>
		<label>ISBN</label>
		<input type="text" name="ISBN" size="10" value="${forum.ISBN}" id="ISBN" /> 
		<span class="error">#{error 'ISBN' /}</span>

	</p>
	<p>
		<label>Author</label>
		<input type="text" name="author" value="${forum.author}" id="author" /> 
		<span class="error">#{error 'author' /}</span>
	</p>
	<p>
		<label for="description">Textbook description (800 chars maximum)</label>
		<textarea name="description" rows="6" id="description">${forum.description}</textarea>
		<span class="error">#{error 'description' /}</span>
	</p>
	<p>
		<input type="submit" value="Submit" id="updateForum" /> or <a class="action" href="@{Textbooks.show(forum.id)}">cancel</a>
	</p>
</form>