#{extends 'main.html' /}

<div id="breadcrumb">
	<a href="@{Forums.index}">Textbooks</a> → <a href="@{Forums.show(forum.id)}">${forum.name}</a>
</div>

<h1 id="title">New problem</h1>
<p class="light">
	by ${connected.name}
</p>

<form id="post" action="@{Topics.create(forum.id)}" method="POST" accept-charset="${_response_encoding}">
<!--	
	<p>
		<label>Subject</label>
		<input type="text" name="subject" value="" id="subject" /> <span class="error">#{error 'subject' /}</span>
	</p>
-->

	<p>
		<label>Which section?</label>
		<input type="text" name="sectionIdx" value="${flash.sectionIdx}" id="sectionIdx" /> 
		<span class="error">#{error 'sectionIdx' /}</span>
	</p>
	<p>
		<label>Which problem?</label>
		<input type="text" name="problemIdx" value="${flash.problemIdx}" id="problemIdx" /> 
		<span class="error">#{error 'problemIdx' /}</span>
	</p>

	<p>
		<label>Problem statement</label>
		<textarea name="content" rows="8" cols="40" id="contentText">${flash.content}</textarea>
		<span class="error">#{error 'content' /}</span>
	</p>
	<p>
		<input type="submit" value="Create this problem" id="postTopic" /> or <a class="action" href="@{Forums.show(forum.id)}">cancel</a>
	</p>
</form>